* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: linear-gradient(217deg, #3f87a6 15%, #ebf8e1 60%, #f69d3c);
    height: 100vh;
}

/*
.toggle {
  margin-left: 20px;
  margin-right: 20px;
}
*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -10px;
}

.power-switch {
    left: -10px;
}

.hard-switch {
    right: -10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 5%;
    bottom: 0;
    background-color: #ccc;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #50cffd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.button {
  border-radius: 5px !important;
  font-size: 1.4em;
  padding: 4px;
  cursor: pointer;
  background-color: #55ea5b;
}

#switches {
  position: absolute;
  font-family: 'Muli', sans-serif;
  margin-left: 25px;
  margin-top: 105px;
}

.text2 {
  position: absolute;
  font-family: 'Muli', sans-serif;
  margin-left: 88px;
  margin-top: 208px;
}

.text1 {
  position: absolute;
  font-family: 'Muli', sans-serif;
  margin-left: 16px;
  margin-top: 145px;
}

.text1 span:last-child {
  padding-left: 90px;
}

#title {
  font-family: 'Muli', sans-serif;
  position: absolute;
  font-weight: bold;        
  font-size: 42px;
  margin-left: 42px;
  margin-top: 40px;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #888888;
}

#topleft {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background: #028d02;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 8px;
}

#topright {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background: #950a0a;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 8px;
}

#bottomleft {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  background: #eaac12;
  top: 50%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 8px;
}

#bottomright {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  background: #114cbc;
  top: 50%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 8px;
}

#inner-circle {
  position: absolute;
  background: grey;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 8px;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
